
body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
  background:darkblue;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.container1 {
  background-color: #f2f2f2;
  padding: 5px 20px 500px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

.blog4{
	vertical-align: top;
	display: inline-block;
	background-color: #e8eefd;
	height: 200px;
	width: 100px;
	margin-left: 90px;
	position: relative;	
	text-align:center;
}

.b5{
	display: inline-block;
	vertical-align: top-bottom;
	height: 220px;
	width:  100px;
	background-color: blue;
	border-radius: 20px 20px 20px 20px ;
	opacity: 0.7;
}

.p5{
	text-align: center;
	color: black;
	font-weight: bold;
	margin-top: 10px;
	font-size: 20px;
}
.p6{
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
}
.p7{
	color: white;
	text-align:center;
	font-weight: bold;
	font-size: 45px;
	margin-top: -10px;
	margin-left:15px;
		
}
.p8{
	color:white;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	margin-top: -35px;
}
.p9{
	color: black;
	text-align: center;
	margin-top: 30px;
	font-size: small;
	font-weight: bold;
}
